.forecast-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  align-self: center;
  width: fit-content;
  border-radius: 5%;
  border-color: #850707;
  border-style: solid;
  border-width: 1px;
}

.forecast-details > div {
  padding: 5px;
}

img {
  height: 1em;
}
